@model Challenge.Models.Machine


@{
    ViewData["Title"] = "Connect";
}

<h2>Connected to @Html.DisplayFor(model => model.IP)</h2>

<div class="ignore-css">
    <pre>
    <p>@ViewBag.Message</p>
    </pre>





</div>






